---
import Badge from "@ui/badge.astro";
import Card from "@ui/card.astro";
import { cn } from "@/lib/utils";

interface Props {
  title: string;
  description: string;
  stack: string[];
  className?: string;
}

const { title, description, stack, className } = Astro.props as Props;
---

<Card
  className={cn(
    "bg-card/50 backdrop-blur border-border/50 hover:bg-card/70 transition-all duration-300",
    className,
  )}
>
  <Card variant="header" className="text-center">
    <Card
      variant="title"
      className="flex items-center justify-center gap-3  text-xl"
    >
      <slot name="icon" />

      {title}
    </Card>

    <Card variant="description" className="text-base">{description}</Card>
  </Card>

  <Card variant="content">
    <div class="flex flex-wrap gap-2 justify-center">
      {stack.map((item) => <Badge>{item}</Badge>)}
    </div>
  </Card>
</Card>
