---
import "@/styles/global.css";

const lang = Astro.currentLocale;
---

<html lang={lang} class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icons/zap.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Criss's portfolio</title>
  </head>

  <body class="min-h-screen bg-black text-white grid-pattern">
    <h1 class="text-2xl font-bold">Advanced Contact</h1>
  </body>
</html>
