---
import About from "@portfolio/sections/about.astro";
import Contact from "@portfolio/sections/contact.astro";
import Footer from "@portfolio/sections/footer.astro";
import Header from "@portfolio/sections/header.astro";
import Hero from "@portfolio/sections/hero.astro";
import Projects from "@portfolio/sections/projects.astro";
import Skills from "@portfolio/sections/skills.astro";

import "@/styles/global.css";
import Services from "@portfolio/sections/services.astro";
import Translator from "./components/translator.astro";

const lang = Astro.currentLocale;
---

<html lang={lang} class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icons/zap.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Criss's portfolio</title>
  </head>

  <body class="min-h-screen bg-black text-white grid-pattern">
    <Translator />

    <Header />

    <Hero />

    <About />

    <Services />

    <Skills />

    <Projects />

    <Contact />

    <Footer />
  </body>
</html>
