---
import { assertLocale } from "@/lib/error";
import { getLocaleBySite } from "@/locales/locale";

export type NavItem = {
  name: string;
  id: string;
};

const lang = assertLocale(Astro.currentLocale);
const { ui } = getLocaleBySite("portfolio", lang);

const navItems = ui.header.navItems;
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div
    class="container mx-auto max-w-6xl flex h-16 items-center justify-center px-4"
  >
    <div class="flex items-center justify-between w-full">
      <a class="flex items-center space-x-2" href="/es/portfolio">
        <span class="text-xl font-bold text-purple-400">
          {"<cristian.dev/>"}
        </span>
      </a>

      <nav class="hidden md:flex items-center space-x-8 text-sm font-medium">
        {
          navItems.map(({ id, name }) => (
            <a
              href={`#${id}`}
              class="transition-colors hover:text-purple-400 text-muted-foreground"
            >
              {name}
            </a>
          ))
        }
      </nav>
    </div>
  </div>
</header>
