---
import Section from "@portfolio/components/section.astro";
import ServiceCard from "@portfolio/components/service-card.astro";
import { assertLocale } from "@/lib/error";
import { getLocaleBySite } from "@/locales/locale";

const lang = assertLocale(Astro.currentLocale);
const { content, ui } = getLocaleBySite("portfolio", lang);
---

<Section id="services" title={ui.services.title} className="max-w-6xl">
  <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-8">
    {
      content.services.map(({ description, features, title, icon: Icon }) => (
        <ServiceCard
          title={title}
          description={description}
          features={features}
        >
          <Icon slot="icon" class="h-8 w-8 text-purple-400" />
        </ServiceCard>
      ))
    }
  </div>
</Section>
