---
import Badge from "@portfolio/components/badge.astro";
import Section from "@portfolio/components/section.astro";
import Card from "@/components/card.astro";
import { assertLocale } from "@/lib/error";
import { getLocaleBySite } from "@/locales/locale";

const lang = assertLocale(Astro.currentLocale);
const { content, ui } = getLocaleBySite("portfolio", lang);

const { title } = ui.skills;
const skills = content.skills;
---

<Section id="skills" title={title} className="max-w-6xl">
  <div class="grid md:grid-cols-2 gap-8">
    {
      skills.map(({ title, description, stack, icon: Icon }) => (
        <Card>
          <Card variant="header" className="text-center">
            <Card
              variant="title"
              className="flex items-center justify-center gap-3  text-xl"
            >
              <Icon class="size-6 text-purple-400" />

              {title}
            </Card>

            <Card variant="description" className="text-base">
              {description}
            </Card>
          </Card>

          <Card variant="content">
            <div class="flex flex-wrap gap-2 justify-center">
              {stack.map((item) => (
                <Badge>{item}</Badge>
              ))}
            </div>
          </Card>
        </Card>
      ))
    }
  </div>
</Section>
