---
import About from "@section/about.astro";
import Contact from "@section/contact.astro";
import Footer from "@section/footer.astro";
import Header from "@section/header.astro";
import Hero from "@section/hero.astro";
import Projects from "@section/projects.astro";
import Skills from "@section/skills.astro";

import "@/styles/global.css";
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icons/zap.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Criss's portfolio</title>
	</head>

	<body class="min-h-screen bg-black text-white grid-pattern">
		<Header />

		<Hero />

		<About />

		<Skills />

		<Projects />

		<Contact />

		<Footer />
	</body>
</html>
