---
import "@/styles/global.css";
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icons/zap.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Criss's portfolio</title>
	</head>

	<body class="min-h-screen bg-black text-white grid-pattern my-20">
		<div
			class="h-screen w-full flex flex-col gap-4 items-center justify-center"
		>
		</div>
	</body>
</html>
