---
import About from "@/components/about.astro";
import Contact from "@/components/contact.astro";
import Footer from "@/components/footer.astro";
import Header from "@/components/header.astro";
import Hero from "@/components/hero.astro";
import Projects from "@/components/projects.astro";
import Skills from "@/components/skills.astro";
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icons/zap.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Criss's portfolio</title>

		<link rel="stylesheet" href="/src/styles/global.css" />
	</head>

	<body class="min-h-screen bg-black text-white grid-pattern">
		<Header />

		<Hero />

		<About />

		<Skills />

		<Projects />

		<Contact />

		<Footer />
	</body>
</html>
