---
import "@/styles/global.css";
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icons/zap.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Badge Variants Test</title>
	</head>

	<body class="min-h-screen bg-black text-white p-8"> </body>
</html>
