---
import { cn } from "@/lib/utils";

interface Props {
  id: string;
  title: string;
  className?: string;
}

const { id, title, className } = Astro.props;
---

<section id={id} class={cn("container mx-auto px-4 py-20", className)}>
  <div class="text-center space-y-12">
    <h2 class="text-3xl md:text-4xl font-bold">
      <span class="text-purple-400">// </span>{title}
    </h2>

    <slot />
  </div>
</section>
